.parent {
  display: grid;
  grid-template-columns: repeat(27, 2fr);
  .W100 {
    width: 100px !important;
  }

  .W150 {
    width: 150px !important;
  }
  .buttonContainer {
    // margin-left: 150px;
    position: relative;
  }
}
