.ListContainer {
  overflow: auto;
  max-height: calc(100vh - 300px);
  border: 3px solid var(--divider);
  background-color: var(--hard-blue);
  img {
    max-width: 50px;
    max-height: 50px;
  }
  button {
    max-height: 50px;
  }
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.FormContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .Insert {
    z-index: 1;
    background-color: var(--hard-blue);
    max-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
      background-color: var(--hard-blue);
    }
  }
}
.PopUpContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .PopUpDelete {
    position: absolute;
    color: var(--error);
    border-radius: 15px;
    background-color: var(--blue-2);
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
